@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(210 11.1% 3.53%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(210 11.1% 3.53%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(210 11.1% 3.53%);

  --color-primary: hsl(0 0% 9%);
  --color-primary-foreground: hsl(0 0% 98%);

  --color-secondary: hsl(0 0% 96.1%);
  --color-secondary-foreground: hsl(0 0% 9%);

  --color-muted: hsl(0 0% 96.1%);
  --color-muted-foreground: hsl(0 0% 45.1%);

  --color-accent: hsl(0 0% 96.1%);
  --color-accent-foreground: hsl(0 0% 9%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: hsl(0 0% 89.8%);
  --color-input: hsl(0 0% 89.8%);
  --color-ring: hsl(0 0% 3.9%);

  --radius-md: 0.5rem;
}

.dark {
  --color-background: hsl(210 11.1% 3.53%);
  --color-foreground: hsl(0 0% 98%);

  --color-card: hsl(210 11.1% 3.53%);
  --color-card-foreground: hsl(0 0% 98%);

  --color-popover: hsl(210 11.1% 3.53%);
  --color-popover-foreground: hsl(0 0% 98%);

  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(0 0% 9%);

  --color-secondary: hsl(0 0% 14.9%);
  --color-secondary-foreground: hsl(0 0% 98%);

  --color-muted: hsl(0 0% 14.9%);
  --color-muted-foreground: hsl(0 0% 63.9%);

  --color-accent: hsl(0 0% 14.9%);
  --color-accent-foreground: hsl(0 0% 98%);

  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: hsl(0 0% 14.9%);
  --color-input: hsl(0 0% 14.9%);
  --color-ring: hsl(0 0% 83.1%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

pre > code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background: #35353500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #353535;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 6px;
  }
}

html {
  view-transition-name: root;
}
